extends layout

block content
  h1= title
  #buttonContainer
    p Speed
    button(class="speedRealtime speedButton activeButton") Realtime
    button(class="speedFast speedButton") Fast
    p Constellation
    button(class="iridium constellationButton activeButton") Iridium
    button(class="starlink constellationButton") Starlink
  #cesiumContainer