extends layout

block content
  h1= title
  a(href="https://github.com/DJSethDuncan/satellite-sandbox") Github
  #buttonContainer
    p Speed
    button(class="speedRealtime speedButton activeButton") Realtime
    button(class="speedFast speedButton") Fast
    p Constellation
    //- button(class="iridium constellationButton") Iridium
    button(class="starlink constellationButton activeButton") Starlink
  #cesiumContainer