doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://cesium.com/downloads/cesiumjs/releases/1.77/Build/Cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="https://cesium.com/downloads/cesiumjs/releases/1.77/Build/Cesium/Cesium.js")
  script(src="/javascripts/cesium.js")